* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #3cb371;
	color: white;
    padding: 50px;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
}

header p {
    margin: 20px 0;
    font-size: 1.2em;
}

.btn {
    background-color: #ffcb05;
    color: #004a89;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    background-color: #004a89;
    padding: 10px 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.faculty-list {
    display: flex;
    justify-content: space-between;
}

.faculty-member {
    background-color: #f7f7f7;
    padding: 20px;
    width: 45%;
}

footer {
    background-color: #004a89;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}

footer ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

footer ul li {
    margin: 0 10px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

/* Basic styling */
.sub-list {
            display: none; /* Initially hide sub-lists */
            margin-left: 20px; /* Indent sub-lists */
}
.semester {
            cursor: pointer; /* Show pointer cursor on hover */
            color: blue; /* Color for clickable items */
            text-decoration: underline; /* Underline clickable items */
 }
 
     /* Logo styling */
        .logo {
            position: absolute; /* Position the logo absolutely */
            top: 0px; /* Distance from the top */
            left: 0px; /* Distance from the left */
            width: 240px; /* Set the width of the logo */
            height: auto; /* Maintain aspect ratio */
        }
